.Pendulum-Circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: red;
	position: relative;
}

.Pendulum-Container {
	border: 1px solid black;
}

.Pendulum-Number > input {
	padding: 10px 5px;
	font-size: 1rem;
}
