.Calendar {
	& > .Calendar-Images {
		border: 5px solid;
		padding: 15px;
		& > .Calendar-Image {
			background: white;
		}
	}

	.Calendar-Number > input {
		width: 300px;
		padding: 10px 5px;
		font-size: 2rem;
	}
}
