html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base {
    border: 2px solid white;
    color: white;
    background: white;
    position: relative;
    overflow: hidden;
}

.base::before {
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    content: '';
    background: black;

    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.base span {
    position: relative;
    mix-blend-mode: difference;
}

.base:hover::before {
    transform: translate3d(100%, 0, 0);
}

.inverse {
    border: 2px solid black;
    background: black;
}

.inverse::before {
    background: white;
}