@use "sass:math";
@import "../katana.scss";

.katana-TextField__Input {
  color: $--katana-white;
  border: 2px solid $--katana-white;
  outline: none;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    $--katana-black 50%,
    $--katana-white 50%
  );
  transition: background-position 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  caret-color: $--katana-black;

  &::placeholder {
    color: $--katana-white;
    position: relative;
  }

  &:focus {
    color: $--katana-black;
    background-position: -100% 0;

    &::placeholder {
      color: $--katana-black;
    }
  }

  &.katana-TextField_black {
    color: $--katana-white;
    border: 2px solid $--katana-black;
    background-image: linear-gradient(
      to left,
      $--katana-black 50%,
      $--katana-white 50%
    );
    caret-color: $--katana-white;

    &::placeholder {
      color: $--katana-black;
    }

    &:focus {
      color: $--katana-white;

      &::placeholder {
        color: $--katana-white;
      }
    }
  }
}
